footer{
    background: linear-gradient(#00000079, #00000079), url(./image/ft.jpg);
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
     width:100%;
}
#footer_co{
    padding-top:30px;
    padding-bottom:50px;
}
ul.navBar-nav {
    display: flex;
    flex-direction: column;
    padding: 0px;
    text-align: center;
}
ul.navBar-nav li a {
    color: #15ff00;
    font-size: 20px;
    font-weight: bold;
    line-height: 20px;
}
ul.navBar-nav li a:hover{color:#fff}